@import '../../../../../node_modules/codemirror/lib/codemirror.css';
@import '../../../../../node_modules/codemirror/theme/material.css';
.CodeMirror {
  height: calc(100vh - 130px) !important;
}
.input-group {
  .segment {
    &:first-child {
      background-color: #f0f0f0;
    }
    &:last-child {
      background-color: #fdfdfd;
    }
  }
}

.imageLibrary ::-webkit-scrollbar {
  width: 3px;
}
.eyeCatch {
  border: 2px dashed rgb(204, 204, 204);
  color: rgb(204, 204, 204);
  width: 200px;
  height: 150px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;
  i {
    position: absolute;
    z-index: 0;
    margin: 0;
  }
  &:hover {
    i {
      color: rgb(154, 154, 154);
    }
  }
  img {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.ui.disabled.input {
  opacity: 1 !important;
}
#successAlert {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: auto;
  left: auto;
  z-index: 100;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
  opacity: 0;
}