.popularArticles {
  .popTitle {
    width: 100%;
    color: rgb(255, 255, 255);
    font-weight: bold;
    line-height: 30px;
    font-size: 19px;
    background-color: rgb(244, 85, 115);
    text-align: center;
  }
  .popContent {
    .popItem {
      border-bottom: 1px solid #ccc;
      padding-top: 10px;
      padding-bottom: 10px;
      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
      a {
        div {
          .numbered {
            display: block;
            width: 100%;
            background-color: #53d2d6;
            font-weight: bold;
            text-align: center;
            color: #fff;
            margin-bottom: 4px;
          }
        }
      }
      &:first-child {
        a {
          div {
            .numbered {
              display: block;
              width: 100%;
              background-color: #e3bf13;
            }
          }
        }
      }
      &:nth-child(2) {
        a {
          div {
            .numbered {
              display: block;
              width: 100%;
              background-color: #bcbcbc;
            }
          }
        }
      }
      &:nth-child(3) {
        a {
          div {
            .numbered {
              display: block;
              width: 100%;
              background-color: #e49214;
            }
          }
        }
      }
    }
  }
}
.firstArticle {
  display: block;
  max-width: 600px;
  margin: auto;
  margin-bottom: 1rem;
  min-height: 175px;
  .shortContent {
    font-size: 16px;
    line-height: 1.4;
    margin-top: 0.5rem;
  }
  .eyeCatch {
    position: relative;
    img {
      width: 100%;
    }
    .firstArticleInfo {
      position: absolute;
      width: 100%;
      padding: 20px;
      bottom: 0px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.050980392156862744) 14.52%, rgba(0, 0, 0, 0.7490196078431373));
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      .pubDate {
        font-size: 17px;
        color: #fff;
      }
      a {
        margin-left: 5px;
        font-size: 17px;
      }
      .firstArticleTitle {
        margin-top: 5px;
        font-weight: bold;
        color: #fff;
        font-size: 19px;
        line-height: 1.4;
      }
    }
  }
}
.categoryPage {
  .inner {
    display: flex;
    flex-wrap:wrap;
    .article {
      margin-bottom: 3rem;
      max-width: 315px;
      display: inline-block;
      flex-grow: 1;
      width: calc(100% * (1/3) - 30px - 1px);
      a {
        &.title {
          color: #000 !important;
          font-size: 16px;
        }
        font-weight: bold;
        .eyeCatchImg {
          display: block;
          width: 100%;
          height: 100%;
          max-height: 210px;
          background-color: #f1f1f1;
        }
        img {
          width: 100%;
          &:hover {
            opacity: 0.8;
          }
        }
      }
    }
  }
  &.relatedArticle {
    .inner {
      .article {
        a {
          &.eyeCatchImg {
            div {
              display: block;
              width: 100%;
              height: 100%;
              max-height: 210px;
              background-color: #f1f1f1;
            }
          }
          font-weight: normal;
          line-height: 24px;
          margin-top: 10px;
          display: block;
          font-size: 16px;
        }
      }
    }
  }
}
@media screen and (min-width: 992px) {
  .categoryPage {
    padding: 20px !important;
    .inner {
      .article {
        margin-right: 13.3333px;
        width: calc(100% * (1/3) - 30px - 1px);
        &:nth-of-type(3n+2) {
          margin: 0 6.66666px;
        }
        &:nth-of-type(3n) {
          margin-left: 13.33333px;
          margin-right: 0px;
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .categoryPage {
    .article {
      display: flex;
      padding-bottom: 1rem;
      margin-bottom: 1rem;
      border-bottom: 1px solid #ccc;
      &:last-child {
        border-bottom: none;
        margin-bottom: 0rem;
        padding-bottom: 0rem;
      }
      a.left {
        flex: 40;
        max-width: 245px;
        .eyeCatchImg {
          display: block;
          width: 100%;
          height: 100%;
          max-height: 210px;
          background-color: #f1f1f1;
        }
      }
      .right {
        flex: 58;
        display: flex;
        flex-direction: column;
        margin-left: 10px;
        a.title {
          margin-top: 0.5rem;
          font-size: 16px;
          font-weight: bold;
          color: rgb(0, 0, 0);
          line-height: 1.4;
        }
      }
    }
  }
}

.nextPrev {
  .prevArticle, .nextArticle {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;
    border-radius: 4px;
    &:hover {
      background-color: #f9f9f9;
    }
    i {
      width: 10px;
      font-size: 38px;
      font-weight: bold;
      height: auto;
    }
    .title {
      color: #000;
      line-height: 1.6;
      padding: 0 1rem;
      font-size: 17px;
      margin-top: 0.5rem;
    }
  }
}
@media screen and (min-width: 992px) {
  .nextPrev {
    display: flex;
    margin: 3rem 0 3rem 0;
    .prevArticle {
      margin-right: 10px;
    }
    .nextArticle {
      margin-left: 10px;
    }
    .prevArticle, .nextArticle {
      .image {
        img {
          max-width: 145px !important;
        }
      }
    }
  }
}
@media screen and (max-width: 991px) {
  .nextPrev {
    .prevArticle {
      margin-top: 2rem;
    }
    .nextArticle {
      margin-top: 20px;
    }
    .prevArticle, .nextArticle {
      width: 100% !important;
      float: unset !important;
      .image {
        img {
          max-width: 135px !important;
        }
      }
    }
  }
}