.svg-pink-bg {
  fill: #f46580;
}
.carriee-editor {
  &:after {
    content: "";
    clear: both;
    display: table;
  }
  .eighteenPx {
    font-size: 18px !important;
  }
  * {
    font-size: 16px !important;
  }
  @media screen and (min-width: 992px) {
    padding: 20px;
  }
  @media screen and (max-width: 991px) {
    padding: 20px 0px;
    table {
      tr {
        td {
          display: block;
          width: 100% !important;
          height: auto !important;
          &:first-child {
            width: 100% !important;
          }
        }
      }
    }
  }
  p {
    line-height: 2 !important;
    font-size: 100%;
  }

  img {
    max-width: 100%;
    height: auto;
    margin-top: 0.8rem;
    margin-bottom: 1rem;
    &[style*="float: left;"] {
      margin-right: 1rem;
    }
    &[style*="float: right;"] {
      margin-left: 1rem;
    }
  }

  h2 {
    position: relative;
    margin-bottom: 2rem !important;
    font-size: 25px !important;
    line-height: 1.4;
    margin: 0;
    // @media screen and (max-width: 768px) {
    //   margin: 0px;
    // }
    &::before {
      content: '';
      height: 2px;
      width: 25%;
      background: #f36581;
      position: absolute;
      bottom: -10px;
    }
    &::after {
      content: '';
      height: 2px;
      width: 75%;
      background: #ccc;
      position: absolute;
      bottom: -10px;
      left: 25%;
    }
  }

  h3 {
    position: relative;
    color: #f36581;
    margin-bottom: 2rem !important;
    line-height: 1.4;
    font-size: 24px !important;
    &::before {
      content: '';
      height: 2px;
      width: 100%;
      background: #f36581;
      position: absolute;
      bottom: -10px;
    }
  }

  h4 {
    border: 1px solid #d8d8d8;
    padding: 1rem 0 !important;
    border-left: none;
    border-right: none;
    color: #f36581;
    font-size: 20.5px !important;
    line-height: 1.4;
  }

  h5 {
    color: #3eabde;
    position: relative;
    padding-left: 1rem !important;
    font-size: 18.6px !important;
    line-height: 1.4 !important;
    &::before {
      content: '';
      width: 5px;
      height: 25px;
      background-color: #3eabde;
      position: absolute;
      left: 0;
    }
  }

  ul {
    padding-left: 1.5rem;
    list-style: none;
    color: #000 !important;
    line-height: 24px;
    li {
      position: relative;
      &::before {
        content: '•';
        position: absolute;
        left: -1rem;
        color: #3eabde;
      }
    }
  }

  ol {
    padding-left: 0.5rem;
    counter-reset: item;
    line-height: 24px;
    li {
      display: block;
      &::before {
        content: counter(item) " ";
        counter-increment: item;
        color: #f36581;
        font-weight: bold;
      }
    }
  }

  blockquote {
    background-color: #f5f4f2;
    margin: 1rem 0 1rem 0;
    padding: 10px 10px 10px 60px;
    position: relative;
    line-height: 1.6;
    p {
      margin: 1rem 0 !important;
    }
    &:before {
      display: inline-block;
      position: absolute;
      background: url(/images/quote.png);
      top: 27px;
      left: 10px;
      width: 40px;
      height: 40px;
      line-height: 1.6;
      border-radius: 50%;
      vertical-align: middle;
      text-align: center;
      background-repeat: no-repeat;
      background-size: 40px 40px;
      background-position: center center;
      content: "";
    }
  }

  .non-quote {
    background-color: #f6f3f3;
    margin: 1rem 0 1rem 0;
    padding: 1rem;
    position: relative;
    line-height: 1.6;
    min-height: 25px;
    p {
      line-height: 1.6 !important;
    }
  }

  .editor-point {
    margin: 1rem 0;
  }

  .p-title {
    background: #3eabde;
    font-size: 100%;
    font-weight: bold;
    color: #fff;
    padding: 0.7rem 1rem;
  }

  .c-title {
    background-color: #f36580;
    font-size: 100%;
    font-weight: bold;
    color: #fff;
    padding: 0.7rem 1rem;
    position: relative;
    padding-left: 45px;
    &::before {
      position: absolute;
      content: '';
      background-image: url(/images/caution.png);
      background-size: 25px 20px;
      width: 25px;
      height: 20px;
      left: 12px;
      top: 16px;
    }
  }

  .p-content {
    background-color: #f6f3f3;
    padding: 1rem 1rem;
    line-height: 1.6;
    min-height: 25px;
    p {
      line-height: 1.6 !important;
    }
  }

  table {
    border-collapse: collapse;
    border-spacing: 0;
    border: none;
    width: 100% !important;
    word-break: break-all;
    tr {
      border-color: #d8d8d8;
      td {
        border-right: 1px solid #d8d8d8 !important;
        border-bottom: 1px solid #d8d8d8 !important;
        padding: 1rem;
        &:first-child {
          text-align: center;
          background: #f6f3f3;
          font-weight: bold;
        }
      }
    }
  }

  button {
    font-size: 21px !important;
    padding: 1.8rem 5rem !important;
    margin: 0 !important;
    &.green {
      background-color: #8ac339;
    }
    &.pink {
      background-color: #f3647f;
    }
  }

  .ca-conversation {
    display: flex;
    width: 100%;
    margin: 2rem 0;
    &.right {
      flex-flow: row-reverse;
      .co-icon {
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        .con-circel {
          background-color: #3eabde;
        }
      }
      .co-content::before {
        transform: rotate(-135deg);
        right: -9px;
      }
    }
    &.left .co-content::before {
      transform: rotate(45deg);
      left: -9px;
    }
    .co-icon {
      flex: 10;
      color: #f45573;
      font-weight: bold;
      min-width: 100px;
      .con-circel {
        width: 70px;
        height: 70px;
        border-radius: 50%;
        background: url(/images/person.png) #f45573;
        background-repeat: no-repeat;
        background-position: 18px 10px;
        margin-bottom: 5px;
      }
    }
    .co-content {
      flex: 90;
      border: 1px solid #ccc;
      padding: 1rem;
      border-radius: 5px;
      position: relative;
      line-height: 1.6;
      word-break: break-all;
      p {
        line-height: 1.6 !important;
      }
      &::before {
        content: '';
        position: absolute;
        width: 15px;
        height: 15px;
        border: 1px solid #ccc;
        border-right: none;
        border-top: none;
        background: #fff;
        top: 30px;
      }
    }
  }
}

.gradientButton {
  border: 1px solid #ccc;
  height: 5em;
  border-radius: 4px;
  padding: 0.5em 0.25em;
  background: linear-gradient(180deg, #fff 14.52%, #e6e7e8);
  line-height: 1.6em;
  font-size: 0.9rem;
  display: block;

}
.gradientButton:hover {
  background: linear-gradient(180deg, #fff 14.52%, #d6d7d8);
}
.headerSearchIcon {
  text-align: center;
  @media screen and (min-width: 992px) {
    width: 100px;
  }
}
.topBanner {
  background: url('../images/grid.png');
  border-top: 1px solid #eef0f1;
}
.circularLabel {
  position: relative;
  &:after {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 0px 20px 35px;
    border-color: transparent transparent transparent #3eabde;
    transform: rotate(50deg);
    bottom: -10px;
    right: 5px;
  }
}
.topSearch {
  .input {
    width: 100%;
    height: 55px;
    input {
      border-radius: 5px !important;
    }
  }
}
.japanMap {
  position: relative;
  margin-bottom: 100px;
  .label {
    position: absolute;
    font-size: 15px !important;
    font-weight: bold !important;
  }
}
.prefectureDetail {
  padding: 0px;
  .areas {
    ul {
      padding: 0px;
      margin-top: 5px;
      list-style-type: none;
      margin-bottom: 10px;
      &.lastList {
        li {
          &:nth-child(n+6) {
            border-top: 1px solid #ccc !important;
          }
          &:nth-child(5) {
            border-right: none !important;
          }
        }
      }
      li {
        width: 60px;
        height: 35px;
        display: inline-flex;
        border: 1px solid #ccc;
        justify-content: center;
        align-items: center;
        border-right: none;
        &:nth-child(5), &:last-child {
          width: 61px;
          border-right: 1px solid #ccc;
        }
        &:nth-child(n+6) {
          border-top: none;
        }
        &:hover {
          background-color: #ebebeb;
        }
      }
    }
  }
}
.whiteButton {
  line-height: 17px !important;
  background-color: #fff !important;
  border: 1px solid #f36581 !important;
  padding: 0.5rem !important;
  &:hover {
    background-color: #eaeaea !important;
  }
  i {
    margin: 0 !important;
  }
}
.ui.tiny.progress .bar {
  border-radius: 0 !important;
}
.jobGuidline {
  background-color: rgb(255, 255, 255);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  border-top: 4px solid rgb(243, 100, 128);
  height: 70px;
  z-index: 10;
  box-shadow: rgba(34, 36, 38, 0.15) 0px -1px 2px 0px;
  color: #f36480;
  font-size: 25px;
  font-weight: bold;
  display: flex !important;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 991px) {
    height: 50px;
    font-size: 18px;
    h2 {
      font-size: 1.3rem;
    }
  }
}
i.areaIcon {
  background: url('../images/area-icon.png') no-repeat;
  width: 40px;
  display: block;
  height: 40px;
}
i.jobDescriptionIcon {
  background: url('../images/job-des-icon.png') no-repeat;
  width: 30px;
  display: inline-block;
  height: 25px;
}
i.clockIcon {
  background: url('../images/clock-icon.png') no-repeat;
  width: 30px;
  display: inline-block;
  height: 25px;
}
i.nurseIcon {
  background: url('../images/nurse-icon.png') no-repeat;
  width: 30px;
  display: inline-block;
  height: 25px;
}
i.hospitalIcon {
  background: url('../images/hospital-icon.png') no-repeat;
  width: 30px;
  display: inline-block;
  height: 25px;
}
.row.inquiry {
  @media screen and (max-width: 491px) {
    .column {
      padding: 0 5px !important;
    }
  }
  .inquiryBox {
    width: 100%;
    border-width: 3px !important;
    display: flex !important;
    padding: 1.5rem 10px;
    flex-wrap: wrap;
    &:after {
      content: '';
      width: 100%;
    }
    a.computer {
      opacity: 1 !important;
      width: 100%;
      display: block;
      margin: auto;
      @media screen and (min-width: 492px) and (max-width: 991px) {
        order: 1;
        width: 80%;
      }
      @media screen and (max-width: 491px) {
        button {
          height: 55px;
          margin: 10px 0 0 0;
          font-size: 1.2rem;
        }
      }
    }
    .rightBox {
      font-size: 1.5rem;
      flex: 75;
      color: #000;
      line-height: 2.5rem;
      a {
        font-size: 2rem;
      }
      @media screen and (max-width: 667px) and (min-width: 492px) {
        font-size: 18px;
        line-height: 2rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 10px;
        a {
          font-size: 22px;
        }
      }
      @media screen and (max-width: 491px) {
        font-size: 13px;
        line-height: 1.5rem;
        padding-left: 5px;
        display: flex;
        justify-content: center;
        flex-direction: column;
        a {
          font-size: 14px;
        }
      }
      @media screen and (min-width: 668px) {
        padding: 1rem;
      }
      @media screen and (min-width: 668px) and (max-width: 991px) {
        font-size: 21px;
        a {
          font-size: 1.1rem;
        }
      }
    }
    .leftBox {
      flex: 20;
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 1rem;
      @media screen and (min-width: 668px) and (max-width: 991px) {
        padding: 5px;
        flex: 20;
      }
      @media screen and (max-width: 667px) {
        padding: 0;
        flex: 30;
      }
      @media screen and (max-width: 491px) {
        flex: 35;
      }
      .circular {
        width: 100%;
        display: block;
        position: relative;
        background: #f36480;
        color: #fff;
        padding-bottom: 100%;
        border-radius: 50%;
        .intext {
          position: absolute;
          left: 0;
          right: 0;
          bottom: 0;
          top: 0;
          display: flex;
          align-items: center;
          justify-content: center;
          flex-direction: column;
          font-size: 1.5rem;
          line-height: 2rem;
          @media screen and (min-width: 668px) and (max-width: 991px) {
            line-height: 1.5rem;
            font-size: 1rem;
          }
          @media screen and (max-width: 667px) {
            font-size: 11px;
            line-height: 15px;
          }
          @media screen and (max-width: 491px) {
            font-size: 10px;
          }
        }
      }
    }
  }
  @media screen and (max-width: 991px) {
    .qualificationAttr {
      margin-bottom: 0px !important;
      &:before {
        position: absolute;
        content: '';
        width: 4px;
        height: 20px;
        background-color: #40abe1;
      }
      div {
        margin-left: 10px;
      }
    }
  }
}

.rowDividerless {
  &:before {
    content: unset !important;
  }
}
.smartPhoneMap {
  height: 370px;
  padding: 0px !important;
  .label {
    text-align: center !important;
    border-radius: 0 !important;
    @media screen and (max-width: 366px) { // Iphone 5
      font-size: 14px !important;
    }
    font-size: 17px !important;
    padding: 6px 0px !important;
    display: flex !important;
    align-items: center !important;
    flex-direction: column !important;
    justify-content: center !important;
    i {
      margin: 0 !important;
      color: #ffea05 !important;
    }
  }
}
tbody.hospitalBasicInfo {
  tr {
    padding: 0 !important;
    td {
      @media screen and (min-width: 992px) {
        height: 60px;
        &:first-child {
          text-align: center !important;
        }
      }
      @media screen and (max-width: 991px) {
        align-items: center;
        line-height: 1.8rem;
        &:first-child {
          line-height: 2.5rem;
        }
        &:last-child {
          padding: 1rem 0rem !important;
        }
      }
    }
  }
}
.totalCount {
  box-shadow: none !important;
  position: relative;
  margin-bottom: 3rem !important;
  text-align: center !important;
  font-weight: bold;
  &:after {
    content: '';
    position: absolute;
    left: 50%;
    margin-left: -50px;
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #fff;
    bottom: -1rem;
  }
}
.searchKeyPopups {
  button {
    // Iphone 5
    @media screen and (max-width: 366px) {
      font-size: 12px !important;
    }
  }
}
.hospitalJobList {
  position: relative;
  z-index: 11;
  margin-top: 0px !important;
  border-top-left-radius: 0px !important;
  border-top-right-radius: 0px !important;
  box-shadow: rgba(34, 36, 38, 0.15) 0px 2px 2px 0px !important;
  .jobDetailCover {
    background-color: rgb(246, 243, 243);
    padding: 1rem;
  }
  @media screen and (max-width: 991px) {
    padding: 2px !important;
    .jobDetailCover {
      padding: 10px;
    }
  }
}
ul.errorPageAreas {
  list-style-type: none;
  padding-left: 10px;
  margin-top: 0.5rem;
  margin-bottom: 1.5rem;
  li {
    font-weight: bold;
    display: inline-block;
    border-right: 1px solid #ccc;
    padding-right: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
    &:first-child {
      padding-left: 0;
    }
    &:last-child {
      border-right: none;
    }
  }
}
@media screen and (max-width: 991px) {
  ul.errorPageAreas {
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    li {
      margin-bottom: 20px;
      a {
        margin: 10px;
        border-bottom: 1px solid #40abe1;
        padding-bottom: 5px;
      }
    }
  }
}
.contentWrap {
  max-width: 940px !important;
  padding: 20px 50px !important;
  box-shadow: none !important;
  &.center {
    margin: 0 auto 2rem auto !important;
  }
  &.right {
    margin: 0 0 2rem auto !important;
  }
  @media screen and (max-width: 768px) {
    padding: 20px 10px !important;
  }
  form {
    font-size: 17px !important;
    line-height: 25px;
    .dropdown {
      max-width: 280px;
    }
    button[type='submit'] {
      margin: auto;
      display: block;
      font-size: 21px !important;
      padding-top: 1.7rem;
      padding-bottom: 1.7rem;
      width: 100%;
      max-width: 350px;
      @media screen and (max-width: 768px) {
        max-width: 260px;
      }
    }
    @media screen and (min-width: 992px) {
      padding: 10px 1rem !important;
      .dropdown {
        max-width: 350px;
      }
    }
  }
}

.wrap-point {
  display: flex;
  margin: 20px 0;
  align-items: center;

  .point {
    width: 60px;
    height: 60px;
  }

  .link {
    color: #f36581;
    font-weight: bold;
    font-size: 22px !important;
    margin-left: 10px;
    line-height: 30px;
  }
}

.ui.radio.checkbox.carrieeCheckbox label {
  padding-left: 20px !important;
  &:before {
    background: #e1e1e1 !important;
    border: none !important;
    border-radius: 0 !important;
  }
}
.ui.radio.checkbox.carrieeCheckbox input:checked~label:before {
  background-color: #f36580 !important;
}
.ui.radio.checkbox.carrieeCheckbox input:checked~label:after {
  opacity: 0 !important;
}
.slick-prev:before, .slick-next:before {
  opacity: 1 !important;
  font-size: 30px !important;
}
.slider.paging {
  list-style: none;
  display: inline-flex !important;
  position: absolute;
  bottom: 5px;
  margin: 0;
  width: 100%;
  padding-left: 0;
  li {
    flex: 20;
    background-color: #ccc;
    &.slick-active {
      background-color: rgb(249, 69, 105);
    }
  }
}


// To prevent the body to be scrolled when modal is opened
@media screen and (min-width: 992px) {
  .ReactModal__Body--open {
    overflow-y: hidden !important;
    position: fixed;
    width: 100%;
  }

}
@media screen and (max-width: 991px) {

  .ReactModal__Body--open {
    overflow-y: hidden !important;
    position: fixed;
  }
  .ui.active.dimmer.modals.transition {
    display: flex !important;
    display: -ms-flexbox !important;
  }

  .ReactModal__Content {
    opacity: 0.3;
    top: 100% !important;
  }

  .ReactModal__Content--after-open {
    opacity: 1;
    top: 9vh !important;
    transition: all 200ms ease-in;
  }

  .ReactModal__Content--before-close {
    opacity: 0.3;
    top: 100% !important;
  }
}
