.headerPink {
	background-color: rgb(241,103,130);
  min-height: 38px;
}
.headerMenu {
	background-color: white;
/*  height: 90px;*/
  border-bottom: 1px solid #eee;
}

.main {
/*  background-color: rgb(255,237,238); */
	background-color: rgb(255,241,242);
}


.footerMenu {
  background-color: white;
	min-height: 120px;
}

.footerCopyright {
	background-color: rgb(241,103,130);
	min-height: 30px;
}
