/*CSS for Editor*/
* {
  font-size: 16px !important;
}
p {
  line-height: 2 !important;
}
h2 {
  position: relative;
  margin-bottom: 2rem !important;
  font-size: 24px !important;
  line-height: 1.4;
}
h2::before {
  content: '';
  height: 2px;
  width: 25%;
  background: #f36581;
  position: absolute;
  bottom: -10px;
  font-size: 25px !important;
}
h2::after {
  content: '';
  height: 2px;
  width: 75%;
  background: #ccc;
  position: absolute;
  bottom: -10px;
  left: 25%;
}

h3 {
  position: relative;
  color: #f36581;
  font-size: 24px !important;
  margin-bottom: 2rem !important;
  line-height: 1.4;
}
h3::before {
  content: '';
  height: 2px;
  width: 100%;
  background: #f36581;
  position: absolute;
  bottom: -10px;
}
h4 {
  border: 1px solid #d8d8d8;
  padding: 1rem 0 !important;
  border-left: none;
  border-right: none;
  color: #f36581;
  font-size: 20.5px !important;
  line-height: 1.4;
}
h5 {
  color: #3eabde;
  position: relative;
  padding-left: 1rem !important;
  font-size: 18.6px !important;
  line-height: 1.4 !important;
}
h5::before {
  content: '';
  width: 5px;
  height: 25px;
  background-color: #3eabde;
  position: absolute;
  left: 0;
}
ul {
  padding-left: 1.5rem;
  list-style: none;
  color: #000 !important;
  line-height: 24px;
}
ul li {
  position: relative;
}
ul li::before {
  content: '•';
  position: absolute;
  left: -1rem;
  color: #3eabde;
}
ol {
  padding-left: 0.5rem;
  counter-reset: item;
  line-height: 24px;
}
ol li {
  display: block;
}
ol li::before {
  content: counter(item) " ";
  counter-increment: item;
  color: #f36581;
  font-weight: bold;
}
img[style*="float: left;"] {
  margin-right: 1rem;
}
img[style*="float: right;"] {
  margin-left: 1rem;
}
blockquote{
  background-color: #f5f4f2;
  margin: 1rem 0 1rem 0;
  padding: 10px 10px 10px 60px;
  position: relative;
  line-height: 1.6 !important;;
}
blockquote p {
  line-height: 1.6 !important;;
  margin: 1rem 0 !important;
}
blockquote:before{
  display: inline-block;
  position: absolute;
  background: url(/images/quote.png);
  top: 27px;
  left: 10px;
  width: 40px;
  height: 40px;
  line-height: 1.6 !important;;
  border-radius: 50%;
  vertical-align: middle;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 40px 40px;
  background-position: center center;
  content: "";
}
.non-quote {
  margin: 1rem 0 1rem 0;
}

.editor-point {
  margin: 1rem 0;
}
.p-title p {
  background: #3eabde;
  font-size: 100%;
  font-weight: bold;
  color: #fff;
  margin: 0px;
  padding: 0.7rem 1rem;
}
.c-title p {
  background-color: #f36580;
  font-weight: bold;
  color: #fff;
  margin: 0px;
  padding: 0.7rem 3rem !important;
  position: relative;
  padding-left: 45px;
}
.c-title p::before {
  position: absolute;
  content: '';
  background-image: url(/images/caution.png);
  background-size: 25px 20px;
  width: 25px;
  height: 20px;
  left: 12px;
  top: 18px;
}
.p-content {
  background-color: #f6f3f3;
  padding: 1rem 1rem;
  line-height: 1.6 !important;;
  min-height: 25px;
}
.p-content p {
  line-height: 1.6 !important;;
}
.p-content p:first-child {
  margin-top: 0rem;
}
.p-content p:last-child {
  margin-bottom: 0rem;
}
table {
  border-collapse:collapse;
  border-spacing:0;
  border: none !important;
  width: 100% !important;
  word-break: break-all;
}
table tr {
  border-color: #d8d8d8;
}
table tr td {
  padding: 1rem;
}
table tr td:first-child {
  width: 15% !important;
  text-align: center;
  background: #f6f3f3;
  font-weight: bold;
}
button {
  font-size: 21px !important;
  color: #fff;
  padding: 1.8rem 5rem !important;
  border: none;
  border-radius: .28571429rem;
  font-weight: bold;
}
button.green {
  background-color: #8ac339;
}
button.pink {
  background-color: #f3647f;
}
.ca-conversation {
  display: flex;
  width: 100%;
  margin: 2rem 0;
}
.ca-conversation.right {
  flex-flow: row-reverse;
}
.ca-conversation.right .co-icon {
  text-align: right;
}
.ca-conversation.right .co-icon {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.ca-conversation.right .co-icon .con-circel {
  background-color: #3eabde;
}
.ca-conversation.right .co-content::before{
  transform: rotate(-135deg);
  right: -9px;
}
.ca-conversation.left .co-content::before{
  transform: rotate(45deg);
  left: -9px;
}
.ca-conversation .co-icon {
  flex: 10;
  color: #f45573;
  font-weight: bold;
  min-width: 100px;
}
.ca-conversation .co-icon .con-circel {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background: url(/images/person.png) #f45573;
  background-repeat: no-repeat;
  background-position: 18px 10px;
  margin-bottom: 5px;
}
.ca-conversation .co-content {
  flex: 90;
  border: 1px solid #ccc;
  padding: 0 1rem;
  border-radius: 5px;
  position: relative;
  line-height: 1.6 !important;;
  word-break: break-all;
}
.ca-conversation .co-content p {
  line-height: 1.6 !important;;
}
.ca-conversation .co-content::before {
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  border: 1px solid #ccc;
  border-right: none;
  border-top: none;
  background: #fff;
  top: 30px;
}

.wrap-point {
  display: flex;
  margin: 20px 0;
  align-items: center;
}
.wrap-point .point {
  width: 60px;
  height: 60px;
}
.wrap-point .link {
  color: #f36581;
  font-weight: bold;
  font-size: 22px !important;
  margin-left: 10px;
  line-height: 30px;
}