━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
%br
お問合せ
%br
━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━
%br
%br
%p
  %b お問い合わせの種類:
  = I18n.t("contact.contact_type.#{@contact.contact_type}")
%br
%p
  %b 会社名:
  = @contact.company
%br
%p
  %b お名前:
  = @contact.name
%br
%p
  %b ご返信の有無:
  = @contact.need_reply ? '返信を希望する' : '返信を希望しない'
%br
%p
  %b メールアドレス必須:
  = @contact.email
%br
%p
  %b 内容:
  = @contact.content
%br
%br