<!DOCTYPE html>
<html>
  <head>
    <title>CarrieeWeb</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <%- if Rails.env == 'production' %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-65643104-18"></script>
      <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
       gtag('config', 'UA-65643104-18');
      </script>
    <%- end %>
    <%= csrf_meta_tags %>
    <%- if Rails.env == 'production' %>
      <%= javascript_pack_tag 'commons' %>
      <%= stylesheet_pack_tag 'carriee-admin-bundle' %>
    <%- end %>
    <%= javascript_include_tag "//cdn.tinymce.com/4/tinymce.min.js" %>
    <%= javascript_pack_tag 'carriee-admin-bundle' %>
    <style>
      div[id^="AdminApp-"] {
        height: 100%;
      }
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
