<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title><%= @seo_title %></title>
    <meta name="description" content="<%= @seo_description %>" data-react-helmet="true" />
    <meta name="keywords" content="<%= @seo_keywords %>" data-react-helmet="true" />
    <meta name="robots" content="<%= @seo_robots %>" data-react-helmet="true" />
    <% if @link_rel_canonical %>
      <link rel="canonical" href="<%= @link_rel_canonical %>" data-react-helmet="true" />
    <% end %>
    <% if @link_rel_prev %>
      <link rel="prev" href="<%= @link_rel_prev %>" data-react-helmet="true" />
    <% end %>
    <% if @link_rel_next %>
      <link rel="next" href="<%= @link_rel_next %>" data-react-helmet="true" />
    <% end %>

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <%- if Rails.env == 'production' %>
      <script async src="https://www.googletagmanager.com/gtag/js?id=UA-65643104-18"></script>
      <script>
       window.dataLayer = window.dataLayer || [];
       function gtag(){dataLayer.push(arguments);}
       gtag('js', new Date());
       gtag('config', 'UA-65643104-18');
      </script>
    <%- end %>
    <%= csrf_meta_tags %>
    <%- if @config.try(:css_custom).present? %>
      <style>
        <%= "#{@config.css_custom.squish.html_safe}" %>
      </style>
    <%- end %>
    <%- if Rails.env == 'production' %>
      <%= javascript_pack_tag 'commons' %>
      <%= javascript_pack_tag 'application' %>
      <%= stylesheet_pack_tag 'carriee-web-bundle' %>
    <%- end %>
    <%= javascript_pack_tag 'carriee-web-bundle' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
